<template>
  <ul class="navList">
    <li class="navList__item">
      <router-link to="/cart"
        ><font-awesome-icon :icon="cartIcon"
      /></router-link>
    </li>
  </ul>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faShoppingCart } from "@fortawesome/free-solid-svg-icons";
export default {
  name: "navbar",
  components: {
    FontAwesomeIcon
  },
  data: function() {
    return {
      showTopMenu: false,
      cartIcon: faShoppingCart
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
a {
  color: $inactive;

  &:hover {
    color: white;
  }
}
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;

  &__item {
    margin: 0 10px;
    // font-weight: bold;
    display: inline-block;

    &:after {
      content: "";
      width: 0;
      height: 4px;
      display: block;
      background: white;
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover {
      // color: blue;
      &:after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 899) {
  .navList {
    display: block;

    &__item {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
@media (min-width: 900px) {
  .navList {
    display: flex;
  }
}
</style>
