<template>
  <div class="container">
    <h1>{{ PageName }}</h1>
    <ul class="breadcrumb">
      <li>Home</li>
      <li v-if="PageName">{{ PageName }}</li>
    </ul>
    <span class="count" v-if="isItem">{{ amount }} items in the bag</span>
  </div>
</template>

<script>
export default {
  name: "bread",
  props: {
    amount: Number,
    isItem: Boolean,
    PageName: String
  }
};
</script>

<style scoped>
.container {
  margin: auto;
  padding: 30px;
  /* background: #e3e3e3; */
  margin-bottom: 20px;
}

/* --- HEADER --- */
.breadcrumb {
  color: #7d7d7d;
  list-style: none;
  padding-left: 0px;
}

.breadcrumb li {
  float: left;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
}

.breadcrumb li:first-child {
  padding-left: 2px;
}

.breadcrumb li:not(:last-child)::after {
  content: " \276f";
  padding-left: 8px;
}

.count {
  float: right;
  color: #333333;
  height: 20px;
  line-height: 20px;
}
</style>
