<template>
  <layout-default>
    <!-- <bread :PageName="name"></bread> -->
    <div class="payment-form">
      <div class="form-placeholder">
        <input type="hidden" name="token" />
        <div class="group">
          <label>
            <span>Full Name</span>
            <div class="field">
              <input
                v-model="fullName"
                pattern="[A-Za-z ]{3, 30}"
                minlength="3"
                maxlength="30"
                @keypress="isText"
                placeholder="Full Name"
              />
            </div>
          </label>
          <label>
            <span>E-mail</span>
            <div class="field">
              <input
                v-model="email"
                pattern="[A-Z0-9a-z._+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}"
                @keypress="isEmail"
                minlength="3"
                maxlength="30"
                placeholder="E-mail"
              />
            </div>
          </label>
          <label>
            <span>Street Number</span>
            <div class="field">
              <input
                v-model="streetNumber"
                pattern="[0-9]{0,10}"
                @keypress="isNumber"
                minlength="1"
                maxlength="10"
                placeholder="Street Number"
              />
            </div>
          </label>

          <label>
            <span>Street Name</span>
            <div class="field">
              <input
                v-model="streetName"
                pattern="[A-Z0-9a-z ]{3,30}"
                minlength="3"
                maxlength="30"
                @keypress="isText"
                placeholder="Street Name"
              />
            </div>
          </label>

          <label>
            <span>State / Country</span>
            <div class="field">
              <input
                v-model="stateCountry"
                pattern="[A-Za-z ]+/[ ][A-Za-z]{2,30}"
                minlength="1"
                maxlength="30"
                @keypress="isTextA"
                placeholder="State / Country"
              />
            </div>
          </label>
        </div>
      </div>

      <div class="form-placeholder">
        <input type="hidden" name="token" />
        <div class="group">
          <label>
            <span>Card number</span>
            <div id="card-number-element" class="field">
              <input
                v-model="cardNumber"
                pattern="[0-9]{16}"
                @keypress="isNumber"
                minlength="4"
                maxlength="16"
                placeholder="XXXX XXXX XXXX XXXX"
              />
            </div>
            <span class="brand">
              <font-awesome-icon
                :icon="creditCardIcon"
                size="lg"
                v-if="cardNumber.length == 0"
              />
              <font-awesome-icon
                :icon="mastercardIcon"
                size="lg"
                v-if="getCardType == 'mastercard'"
              />
              <font-awesome-icon
                :icon="visaIcon"
                size="lg"
                v-if="getCardType == 'visa' && cardNumber.length != 0"
              />
            </span>
          </label>
          <label>
            <span>Expiry date</span>
            <div id="card-expiry-element" class="field">
              <input
                v-model="cardExpiry"
                pattern="[0-9]{2}+/[0-9]{2}"
                minlength="2"
                maxlength="5"
                @keypress="isExpiry"
                placeholder="XX/XX"
              />
            </div>
          </label>
          <label>
            <span>CVV</span>
            <div id="card-cvc-element" class="field">
              <input
                v-model="cardCvv"
                pattern="[0-9]{3}"
                minlength="1"
                maxlength="3"
                @keypress="isNumber"
                placeholder="XXX"
              />
            </div>
          </label>
        </div>
      </div>

      <button class="ccard" @click="goToPageC">
        Pay {{ total | currencyFormatted }}
      </button>

      <!-- <button class="paypal" @click="goToPageP">
        Checkout with PayPal
      </button> -->

      <div id="paypal-button" ref="paypal"></div>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layout/DefaultLayout.vue";
import { store, mutations } from "@/statics/data/store";
// import bread from "@/components/bread";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faCreditCard } from "@fortawesome/free-solid-svg-icons";
import { faCcMastercard, faCcVisa } from "@fortawesome/free-brands-svg-icons";

import config from "../statics/data/credentials.js";

export default {
  components: {
    // bread,
    FontAwesomeIcon,
    LayoutDefault
  },
  data: function() {
    return {
      order: {
        description: "Buy thing",
        amount: {
          currency_code: "USD",
          value: 0.0
        }
      },

      name: "Card Details",
      creditCardIcon: faCreditCard,
      mastercardIcon: faCcMastercard,
      visaIcon: faCcVisa,

      cardName: "",
      cardNumber: "",
      cardExpiry: "",
      cardCvv: "",
      fullName: "",
      email: "",
      streetName: "",
      streetNumber: "",
      stateCountry: "",
      paymentOptions: "Card",

      emailCheck: false,
      nameCheck: false,
      streetNumberCheck: false,
      streetNameCheck: false,
      stateCheck: false,
      cardNumberCheck: false,
      expiryCheck: false,
      cvvCheck: false
    };
  },

  watch: {
    email(value) {
      this.email = value;
      this.emailCheck = this.validateEmail();
    },
    fullName(value) {
      this.fullName = value;
      this.nameCheck = this.validatefullName();
    },
    streetNumber(value) {
      this.streetNumber = value;
      this.streetNumberCheck = this.validatestreetNumber();
    },
    streetName(value) {
      this.streetName = value;
      this.streetNameCheck = this.validatestreetName();
    },
    stateCountry(value) {
      this.stateCountry = value;
      this.stateCheck = this.validatestateCountry();
    },
    cardNumber(value) {
      this.cardNumber = value;
      this.cardNumberCheck = this.validatecardNumber();
    },
    cardExpiry(value) {
      this.cardExpiry = value;
      this.expiryCheck = this.validatecardExpiry();
    },
    cardCvv(value) {
      this.cardCvv = value;
      this.cvvCheck = this.validatecardCvv();
    }
  },

  methods: {
    goToPageC() {
      this.paymentOptions = "Card";
      mutations.addPaymentOptions(this.paymentOptions);
      this.$router.push("/invoice");
    },
    goToPageP() {
      this.paymentOptions = "PayPal";
      mutations.addPaymentOptions(this.paymentOptions);
      this.$router.push("/invoice");
    },
    isExpiry: function(event) {
      if (!/^[0-9/]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    isText: function(event) {
      if (!/^[a-zA-Z ]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    isTextA: function(event) {
      if (!/^[a-zA-Z /]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    isEmail: function(event) {
      if (!/^[a-zA-Z0-9!@#$%^&*().-_+]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    isNumber: function(event) {
      if (!/^[0-9]$/.test(event.key)) {
        event.preventDefault();
      }
    },

    validatefullName() {
      if (/^[A-Za-z ]+ [A-Za-z]{3,30}$/.test(this.fullName)) return true;
      return false;
    },
    validateEmail() {
      console.log(this.email);
      if (/^[A-Z0-9a-z._+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$/.test(this.email))
        return true;

      return false;
    },
    validatestreetNumber() {
      if (/^[0-9]{1,10}$/.test(this.streetNumber)) return true;

      return false;
    },
    validatestreetName() {
      if (/^[A-Z0-9a-z ]{3,30}$/.test(this.streetName)) return true;

      return false;
    },
    validatestateCountry() {
      if (/^[A-Za-z ]+[/][A-Za-z ]{2,30}$/.test(this.stateCountry)) return true;

      return false;
    },
    validatecardNumber() {
      if (/^[0-9]{16}$/.test(this.cardNumber)) return true;

      return false;
    },
    validatecardExpiry() {
      if (/^[0-9]+[/][0-9]{2}$/.test(this.cardExpiry)) return true;

      return false;
    },
    validatecardCvv() {
      if (/^[0-9]{3}/.test(this.cardCvv)) return true;

      return false;
    },

    setLoaded: function() {
      window.paypal
        .Buttons({
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [this.order]
            });
          },
          onApprove: async (data, actions) => {
            const order = await actions.order.capture();

            if (order.status == "COMPLETED") {
              this.paymentOptions = "PayPal";
              mutations.addPaymentOptions(this.paymentOptions);
              this.$router.push("/invoice");
            }
          },
          onError: (err) => {
            if (err) console.log("Unable to process your order");
          }
        })
        .render(this.$refs.paypal);
    }
  },
  mounted: function() {
    const script = document.createElement("script");
    script.src = `https://www.paypal.com/sdk/js?client-id=${config.ClientID}`;
    script.addEventListener("load", this.setLoaded);
    document.body.appendChild(script);
    this.order.amount.value = this.total;
    this.order.description = "Grocery Shopping";
  },
  computed: {
    total() {
      return store.items.reduce(
        (acc, item) => acc + item.price * item.quantity,
        0
      );
    },
    getCardType() {
      // let number = this.cardNumber;
      let re = new RegExp("^4");
      if (this.cardNumber.match(re) != null) return "visa";

      re = new RegExp("^5[1-5]");
      if (this.cardNumber.match(re) != null) return "mastercard";
      return "visa";
    }
  },
  filters: {
    currencyFormatted: function(value) {
      return Number(value).toLocaleString("en-US", {
        style: "currency",
        currency: "USD"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#paypal-button {
  margin-top: 15px;
  width: 97%;
}

a {
  &:visited {
    color: white;
  }
}

.payment-form {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  width: 480px;
}

.form-placeholder {
  margin: auto;
  padding: 10px;
  // width: 375px;
  width: 480px;
  display: flex;

  justify-content: center;
}

.group {
  background: white;
  box-shadow: 0 0px 2px $card-border;

  // border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
}

label {
  position: relative;
  color: #8898aa;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  // margin-left: 20px;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

label > span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
  color: black;
}

label > span.brand {
  width: 30px;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325f;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

button {
  float: left;
  width: 96.5%;
  margin: 10px auto 0px auto;

  &.ccard {
    background: #666ee8;

    &:hover {
      background: #555abf;
    }
  }

  &.paypal {
    background: #3b7bbf;

    &:hover {
      background: #2f6299;
    }
  }
}

@media screen and (max-width: 768px) {
  .form-placeholder {
    margin: auto;
    width: 100%;
  }
}

input {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325f;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}
</style>
