<template>
  <layout-default>
    <div class="cartContainer">
      <h1 style="">Shopping Cart</h1>

      <template v-if="itemCount > 0">
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
              <th scope="col">Quantity</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in getList" :key="product.id">
              <template v-if="product.quantity > 0">
                <td data-label="Image">
                  <img class="imageContainer" :src="product.image" />
                </td>
                <td data-label="Account">{{ product.name }}</td>
                <td data-label="Due Date">
                  Price: {{ product.price | currencyFormatted }}
                </td>
                <td data-label="Amount">
                  <div class="quantity">
                    <button
                      class="value-button"
                      @click="decreaseValue(product.id)"
                      value="Decrease Value"
                    >
                      -
                    </button>
                    <span align="center" class="QuantityAmount">{{
                      product.quantity
                    }}</span>
                    <button
                      class="value-button"
                      @click="increaseValue(product.id)"
                      value="Increase Value"
                    >
                      +
                    </button>
                  </div>
                </td>
                <td data-label="Period">
                  <div class="remove" @click="removeItem(product.id)">
                    <font-awesome-icon :icon="closeButton" size="lg" />
                  </div>
                </td>
              </template>
            </tr>
          </tbody>
        </table>

        <div class="priceTags">
          <p class="priceList right">
            Total: {{ totalPrice | currencyFormatted }}
          </p>
        </div>

        <div class="navigation-container notEmpty">
          <div class="button-bar">
            <button class="navigation-button left">
              <router-link :to="`/`">Go back to shopping</router-link>
            </button>

            <button class="navigation-button right" @click="toggleCard()">
              Pay now
              <!-- <router-link :to="`/pay`">Proceed to checkout</router-link> -->
            </button>
          </div>
        </div>

        <div v-if="showCard">
          <card />
        </div>
      </template>

      <template v-else>
        <div class="navigation-container empty">
          <p>No orders found</p>
        </div>
        <div class="button-bar">
          <button class="navigation-button center">
            <router-link :to="`/`">Go back to shopping</router-link>
          </button>
        </div>
      </template>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "../layout/DefaultLayout.vue";
import { store, mutations } from "@/statics/data/store";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faWindowClose } from "@fortawesome/free-solid-svg-icons";
import Card from "@/components/card.vue";

export default {
  components: {
    LayoutDefault,
    // eslint-disable-next-line vue/no-unused-components
    FontAwesomeIcon,
    // eslint-disable-next-line vue/no-unused-components
    Card
  },
  data: function() {
    return {
      name: "Shopping Cart",
      products: store.items,
      closeButton: faWindowClose,
      showCard: false
    };
  },
  methods: {
    toggleCard() {
      this.showCard = !this.showCard;
    },
    checkOut() {
      this.$router.push("/pay");
    },
    increaseValue(key) {
      mutations.increaseQuantity(key);
    },
    decreaseValue(key) {
      mutations.decreaseQuantity(key);
    },

    goToChart: function() {
      console.log("Back to chart");
    },
    removeItem: function(index) {
      store.items.find(function(element) {
        if (element.id === index) {
          element.quantity = 0;
          console.log(element.name);
          return;
        }
      });
    }
  },
  computed: {
    itemCount: function() {
      var count = 0;

      for (var i = 0; i < this.products.length; i++) {
        count += parseInt(this.products[i].quantity) || 0;
      }

      return count;
    },
    subTotal: function() {
      var subTotal = 0;

      for (var i = 0; i < this.products.length; i++) {
        subTotal += this.products[i].quantity * this.products[i].price;
      }

      return subTotal;
    },
    totalPrice: function() {
      return this.subTotal;
    },
    getList: function() {
      return this.products.filter(function(el) {
        return el.quantity > 0;
      });
    }
  },
  filters: {
    currencyFormatted: function(value) {
      return Number(value).toLocaleString("en-US", {
        style: "currency",
        currency: "USD"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.imageContainer {
  width: 230px;
}

.cartContainer {
  width: 95%;
  margin: 0 auto;
  max-width: 1350px;
}

a {
  color: white;
}

.empty {
  text-align: center;
}

.notEmpty {
  text-align: left;
}

.navigation-container {
  padding: 0.01em 12px;
}

.priceTags {
  padding: 0.01em 12px;
  display: flow-root;
}

.priceList {
  border: none;
  display: inline-block;
  padding: 8px 16px;
}
.priceList {
  font-weight: bold;
  font-size: 18px;
  &.right {
    float: right !important;
  }
}

.button-bar {
  width: 100%;
  overflow: hidden;
}

.navigation-button {
  // margin: 0 20px 0 auto;
  margin: 0 auto;
  font-weight: bold;

  &.left {
    float: left !important;
    color: #fff !important;
    background-color: $red !important;

    &:hover {
      background: $red-hover !important;
    }
  }

  &.center {
    float: center !important;
    color: #fff !important;
    background-color: $red !important;

    &:hover {
      background: $red-hover !important;
    }
  }

  &.right {
    float: right !important;
    color: #fff !important;
    background-color: $base !important;

    &:hover {
      background: $base_hover !important;
    }
  }
}

.value-button {
  user-select: none;
  border: none;
  display: inline-block;
  margin: 2px;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 25px;
  line-height: 0;
}

.remove {
  cursor: pointer;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
    width: 80%;
    margin: 20px auto;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: center;
  }

  table td::before {
    // content: attr(data-label);
    // float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
</style>
