<template>
  <footer>
    <div class="design">
      <p>
        &copy; 2020 - Themed and designed by
        <span class="design__links">Pongskorn<span>.</span></span>
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footbar",
  components: {},
  data: function() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
a {
  color: white;

  &:hover {
    color: $base;
  }
}

span {
  color: $base;
}

footer {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  color: gray;

  padding: 10px 30px;
  margin: auto;
  max-width: 1550px;

  .design {
    // margin: 0;
    text-align: left;
    font-size: 0.94em;
    margin-left: auto;
    margin-right: auto;

    &__links {
      font-weight: bold;

      display: inline-block;
      color: white;
      &:after {
        content: "";
        width: 0;
        display: block;
        background: white;
        transition: all 0.2s ease-in-out 0s;
      }
    }
  }
}
</style>
