<template>
  <layout-default>
    <div class="invoiceContainer">
      <h1 style="">Invoice</h1>

      <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="4">
              <table>
                <tr>
                  <td class="title">
                    <img :src="image" style="width:100%; max-width:300px;" />
                  </td>
                  <td>Paid on: January 1, 2020<br /></td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="information">
            <td colspan="4">
              <table>
                <tr>
                  <td>
                    Company Name<br />
                    Address 1<br />
                    State, Country Postcode
                  </td>
                  <td>
                    Name<br />
                    email@example.com<br />
                    XX-XXXXXXXX
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="heading">
            <td colspan="3">Payment Method</td>
            <td>Invoice #</td>
          </tr>

          <tr class="details">
            <td colspan="3">{{ getPaymentType }}</td>
            <td>12</td>
          </tr>

          <tr class="heading">
            <td>Product Name</td>
            <td>Unit Price</td>
            <td>Quantity</td>
            <td>Price</td>
          </tr>

          <tr class="item" v-for="(item, index) in items" :key="index">
            <template v-if="item.quantity > 0">
              <td>{{ item.name }}</td>
              <td>$ {{ item.price }}</td>
              <td>
                <div class="amount">
                  <span align="center" class="QuantityAmount">
                    {{ item.quantity }}
                  </span>
                </div>
              </td>
              <td>${{ (item.price * item.quantity) | currency }}</td>
            </template>
          </tr>

          <tr class="total">
            <td colspan="3"></td>
            <td>Total: ${{ total | currency }}</td>
          </tr>
        </table>
      </div>
    </div>
  </layout-default>
</template>

<script>
import { store, mutations } from "@/statics/data/store";
import LayoutDefault from "../layout/DefaultLayout.vue";

export default {
  components: {
    LayoutDefault
    // bread
  },
  data: function() {
    return {
      items: store.items,
      name: "Invoice",
      image: ""
    };
  },
  computed: {
    total() {
      return this.items.reduce(
        (acc, item) => acc + item.price * item.quantity,
        0
      );
    },
    getPaymentType() {
      return store.paymentOption;
    }
  },
  methods: {
    increaseValue(key) {
      mutations.increaseQuantity(key);
    },
    decreaseValue(key) {
      mutations.decreaseQuantity(key);
    }
  },
  mounted: function() {
    if (store.paid == false) {
      this.$router.push("/pay");
    }
  },
  filters: {
    currency(value) {
      return value.toFixed(2);
    }
  }
};
</script>

<style lang="scss">
.invoiceContainer {
  width: 1350px;
}

.amount {
  display: inline-flex;
  height: 28px;
}

.QuantityAmount {
  padding: 0 10px;
  margin: auto;
  width: 20px;
}

.invoice-box {
  background: white;
  max-width: 1350px;
  margin: auto;
  padding: 30px;
  border-radius: 6px;
  // border: 1px solid #eee;
  box-shadow: 0 0 3px $card-border;
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box {
  table {
    width: 100%;
    line-height: inherit;
    text-align: left;

    tr td {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    td {
      padding: 5px;
      /* vertical-align: top; */
    }

    tr {
      text-align: center;

      &.top table td {
        padding-bottom: 20px;
        &.title {
          font-size: 45px;
          line-height: 45px;
          color: #333;
        }
      }

      &.information table td {
        padding-bottom: 40px;
      }

      &.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
      }

      &.details td {
        padding-bottom: 20px;
      }

      &.item td {
        border-bottom: 1px solid #eee;
      }

      &.item.last td {
        border-bottom: none;
      }

      &.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .invoice-box {
    table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
    }

    table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}
</style>
