<template>
  <layout-default>
    <h1 style="">{{ name }}</h1>

    <div class="cardList">
      <div class="card" v-for="(item, index) in items" :key="item.id">
        <div class="card__image">
          <img class="image" :src="item.image" :alt="item.title" />
        </div>
        <div class="cardDetails">
          <div class="cardDetails__title">
            {{ item.name }}
          </div>
          <div class="cardDetails__price">${{ item.price }}</div>

          <div class="cardDetails__quantity">
            Quantity:
            <div class="quantityValues">
              <span align="center" class="QuantityAmount">
                <input
                  v-model="tmpArray[index]"
                  v-on:keyup.enter="appendValue(item.id, tmpArray[index])"
                  class="QuantityAmount"
                />
              </span>
            </div>
          </div>
          <button
            class="cardDetails__cart"
            @click="appendValue(item.id, tmpArray[index])"
          >
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layout/DefaultLayout.vue";
import { store, mutations } from "@/statics/data/store";

export default {
  components: {
    LayoutDefault
  },
  props: {
    amount: Number,
    isItem: Boolean,
    PageName: String
  },
  data: function() {
    return {
      items: store.items,
      name: "Product List",
      tmpArray: []
    };
  },
  methods: {
    appendValue(index, value) {
      mutations.increaseQuantityAtIndex(index, value);
    }
  },
  created: function() {
    this.tmpArray = new Uint8Array(this.items.length);
  }
};
</script>

<style lang="scss">
$white: #ffffff;

.quantityValues {
  margin-left: 0.3em;
  display: inline-block;
}

.quantityAmount {
  text-align: center;
}

.QuantityButton {
  user-select: none;
  border: none;
  display: inline-block;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  color: $base;
  border: 1px solid $base;
  border-radius: 6px;
  height: 25px;
  line-height: 0;
  font-weight: bold;

  &:hover {
    background: $base-hover;
    color: white;
  }
}

.cardList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 24em 24em 24em;
  grid-gap: 1.6em;
}

@media screen and (max-width: 1320px) {
  .cardList {
    grid-template-columns: 30em 30em;
  }
}

@media screen and (max-width: 1070px) {
  .cardList {
    grid-template-columns: 30em;
  }
}

@media screen and (max-width: 500px) {
  .cardList {
    grid-template-columns: 18em;
  }
}

@function rem($pixel) {
  @return $pixel / 16 + rem;
}

.card {
  height: rem(440);

  background-color: $backgroundBox;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
  transition: $transition3m;
  outline: none;
  box-shadow: 0 0px 2px $card-border;

  display: grid;
  grid-template-rows: rem(270) auto;
  grid-template-areas:
    "image"
    "information";

  &__image {
    grid-area: image;
    width: 100%;
    height: rem(270);
    background-color: #c0c0c0;
    // border-radius: rem(2) rem(2) 0 0;
    border-radius: 4px 4px 0 0;

    overflow: hidden;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: $transition3m;
    }
  }
}

.cardDetails {
  grid-area: information;
  padding: 20px;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto;

  &__title {
    color: $base;
    height: 40px;
    font-size: 1.3em;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: left;
  }

  &__price {
    height: 40px;
    font-size: 1.15em;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: left;
  }

  &__quantity {
    justify-items: start;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
    font-size: 1.1em;
    align-self: center;
    margin-top: 0.4em;
  }

  &__cart {
    color: black;

    margin-left: auto;
    justify-items: end;
    grid-column: 2/3;
    grid-row: 3/4;
    width: max-content;

    background-color: transparent;
    font-size: rem(16);
    font-weight: 500;
    letter-spacing: 0.1em;

    cursor: pointer;
    transition: $transition3m;
    outline: none;
    font-weight: bold;

    &:hover {
      color: $button-hover;
    }
  }
}
</style>
