<template>
  <header>
    <div class="logo">
      <router-link to="/">
        <div class="main">
          <div class="logo__placement">
            <p>S<span>.</span></p>
          </div>
        </div>
      </router-link>
    </div>

    <div class="drawer-toggle" @click="toggleSideBar()">
      <font-awesome-icon :icon="barIcon" />
    </div>

    <div class="app-links">
      <app-links></app-links>
    </div>
  </header>
</template>

<script>
import AppLinks from "@/components/AppLinks";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faBars } from "@fortawesome/free-solid-svg-icons";
import { mutations } from "@/statics/data/store.js";

export default {
  components: { AppLinks, FontAwesomeIcon },
  data: function() {
    return {
      barIcon: faBars
    };
  },
  methods: {
    toggleSideBar() {
      mutations.TOGGLE_SIDEBAR();
    }
  }
};
</script>

<style lang="scss" scoped>
.main {
  background: white;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.2);

  width: 50px;

  line-height: 50px;
  font-weight: bold;
  color: black;
  text-align: center;
  // font-size: 1.5em;
  font-family: "Headland One";

  &:hover {
    p {
      color: $base;
    }

    span {
      color: black;
    }
  }

  span {
    color: $base;
  }

  &:after {
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    background: gray;
  }

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    background: gray;
    border-radius: 40px;
  }
}

header {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2em;

  display: grid;
  grid-template: 60px / auto 1fr;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  padding: 10px 30px;
}

.app-links {
  justify-self: end;
}

.logo {
  margin-top: 0;

  &a {
    text-decoration: none;
    color: black;
  }
}

.drawer-toggle {
  display: flex;
  justify-self: end;
  flex-direction: column;
  justify-content: space-around;
  // padding-right: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  color: $inactive;
}

.titleName {
  margin-top: 1.5em;
  margin-left: -1em;

  h1 {
    font-size: 2.5em;
    // line-height: 1.6em;
    font-weight: bold;
  }
}

@media (max-width: 899px) {
  header:nth-child {
    justify-self: end !important;
  }
  .app-links {
    display: none;
  }
}

@media (min-width: 900px) {
  .app-links {
    display: block;
  }
  .drawer-toggle {
    display: none;
  }
}
</style>
