<template>
  <div class="sidenav-container">
    <div v-if="isSidebar" class="backdrop" @click="hideSidebar"></div>

    <transition name="slide-side">
      <div v-if="isSidebar" class="sidenav">
        <span @click="hideSidebar"
          ><font-awesome-icon
            style="cursor: pointer; color: white;"
            :icon="closeIcon"
        /></span>

        <nuxt-link to="/">
          <div class="main">
            <div class="logo-placement">
              <p>S<span>.</span></p>
            </div>
          </div>
        </nuxt-link>

        <app-links></app-links>
      </div>
    </transition>
  </div>
</template>

<script>
import AppLinks from "@/components/AppLinks";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faTimes } from "@fortawesome/free-solid-svg-icons";
import { store, mutations } from "@/statics/data/store.js";

export default {
  components: { AppLinks, FontAwesomeIcon },
  data: function() {
    return {
      closeIcon: faTimes
    };
  },
  methods: {
    hideSidebar() {
      mutations.TOGGLE_SIDEBAR();
    }
  },
  computed: {
    isSidebar() {
      return store.toggleSidebar;
    }
  }
};
</script>

<style lang="scss" scoped>
.main {
  background: white;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 60px;
  line-height: 60px;
  font-weight: bold;
  color: black;
  text-align: center;
  // font-size: 1.5em;
  font-family: "Headland One";

  &:hover {
    p {
      color: $base;
    }

    span {
      color: black;
    }
  }

  span {
    color: $base;
  }

  &:after {
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    background: gray;
    // background: linear-gradient($color-gray, $color-gray);

    // box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2),
    //   0 1px 0 rgba(255, 255, 255, 0.9);
  }

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    background: gray;
    border-radius: 40px;
  }
}

.sidenav-container {
  text-align: center;
  height: 100%;
  width: 100%;
}
.sidenav {
  height: 100%;
  width: 250px;
  background-color: $background_nav;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px;

  span {
    position: inherit;
    right: 20px;
    top: 20px;
  }
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}
.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(-100%);
}
</style>
