<template>
  <div class="innerBody">
    <div class="innerBody__headNav">
      <navbar />
      <sidebar />
    </div>

    <section class="innerBody__content">
      <router-view />
    </section>

    <div class="innerBody__footNav">
      <footbar />
    </div>
  </div>
</template>

<script>
import navbar from "@/components/navbar";
import footbar from "@/components/footbar";
import sidebar from "@/components/sidebar";
import { store, mutations } from "@/statics/data/store.js";

export default {
  components: {
    navbar,
    footbar,
    sidebar
  },
  data: () => {
    return {
      showHeaderNavbarMenu: false
    };
  },
  methods: {
    toggleHeaderNavbarMenu() {
      this.showHeaderNavbarMenu = !this.showHeaderNavbarMenu;
    }
  },
  computed: {
    isSidebar() {
      return store.toggleSidebar;
    }
  },

  watch: {
    $route: function() {
      if (process.client && this.isSidebar && window.innerWidth < 768) {
        mutations.TOGGLE_SIDEBAR();
      }
    }
  }
};
</script>

<style lang="scss">
body {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 18px;
  background: $background;

  ::selection {
    background: $base;
    color: white;
  }
}

a {
  text-decoration: none !important;
}

.innerBody {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    "navbar"
    "content"
    "footer";

  &__headNav {
    grid-area: navbar;
    background: $background_nav;
    box-shadow: 0 1px 3px gray;
  }

  &__footNav {
    grid-area: footer;
    background: $background_footer;
  }

  &__content {
    grid-area: content;
    // max-width: 1600px;
    margin: 0 auto;
  }
}

button {
  display: block;
  color: white;
  border-radius: 4px;
  border: 0;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  line-height: 38px;
  outline: none;

  cursor: pointer;
}
</style>
