$base: rgb(29, 114, 42);
$base-hover: rgb(34, 143, 34);

$red: rgb(231, 61, 61);
$red-hover: red;

$background_nav: rgb(44, 116, 54);
$background: rgb(246, 246, 246);
$background_footer: black;
$backgroundBox: rgba(#f1f1f1, 0.83);

$card-border: gray;
$button-hover: rgb(73, 110, 83);

$inactive: rgb(235, 235, 235);

$transition3m: 0.3s ease;
$transition1s: 1s ease;
