<template>
  <div class="MainLayout">
    <slot />
  </div>
</template>

<script>
// import bread from "@/components/bread";
export default {
  components: {
    // bread
  },
  data: function() {
    return {
      name: "Default Page"
    };
  }
};
</script>

<style lang="scss">
.MainLayout {
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;

  h1 {
    padding: 20px 0;
  }
}
</style>
